@model List<shorterLink.Models.Link>
    <div>
    @using (Html.BeginForm("Create", "Link", FormMethod.Post))
    {
        @if(ViewBag.Message != null){
            <h1>@ViewBag.Message</h1>
        }
        <input type="text" name="YourLink" placeholder="Your Link"/> <br/>
        <button type="submit">Add</button>
    }
    </div>
    <div>
     <table>
         @foreach(var item in Model) {
             <tr>
                 <td><strong>@Html.DisplayNameFor(model => item.YourLink):</strong></td>
                 <td>@Html.DisplayFor(model => item.YourLink),</td>
                 <td><strong>@Html.DisplayNameFor(model => item.Shortcut):</strong></td>
                 <td><a target="_blank" href="/@item.Shortcut">@Html.DisplayFor(model => item.Shortcut)</a>,</td>
                 <td>@Html.ActionLink("Delete", "Delete", "Link", item)</td>
             </tr>
         }
     </table>
    </div>  